/* Space out content a bit */



html, body{
  height:100%;
  overflow: hidden;
}

.ng-scope {
  height: 100%;
}
body {
  padding-top: 50px;
  margin: 0;
  background-color: #deeaff;
  color: #428bca;
  font-size: 11px;
}

.row
{
    height: 100%;
}


.angular-leaflet-map {
  width: auto;
  height: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  z-index: 0;
}

.fill {
  min-height: 100%;
  height: 100%;
  /*background-color: rgba(11, 11, 11, 0.89);*/
}

.mapNavBar {
  position:absolute;
  top:1%;
  left:60%;
  width:28%;
  height: 2%;
  /*padding: 25px;*/
  z-index: 1;
  background-color: rgba(0,0,0, 0.70);
}

.mapSearch {
  position:absolute;
  top:4%;
  left:7%;
  width:25%;
  height: 10%;
  z-index: 1;
  /*background-color: rgba(0,0,0, 0.70);*/

}
.mapSearch .autocomplete input{
  background-color: rgba(0,0,0, 0.7);
}

.mapSearch .autocomplete ul{
  /*-webkit-box-shadow: 10px 10px 5px 4px rgba(0,100,225,0.5);
  box-shadow: 10px 10px 5px 4px rgba(0,100,225,0.5);*/
  width: 100%;
  border-color: rgba(0,100,225,0.5);
  border-radius: 5px;
}

.mapSearch .autocomplete li{
  background-color: rgba(0,0,0, 0.7);
  z-index: 2;
}
.mapSearch .autocomplete li:hover {
  background-color: rgba(0,100,225,0.5);
}

.container{
    display: table;
    vertical-align: middle;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.startSearch {
  position: relative;
    /*left: 37%;
    top: 45%;*/
    height: 25%;
    width: 25%;
}
/*.sidePanel {
  height: 100%;
  background-color: rgba(107, 116, 109, 0.73);
}*/
.pumaHead {
  font-size: 20px;
  font-style: impact, arial, sans-serif;
  /*position: relative;
  left: 20%;*/
}
.btn-sidebar {
  /*position: relative;
  top: 10%;*/
  background-color: #41d252;
  padding: 30px;
  color: white;
  font-size: 16px;

}

.btn-sidebar:hover {
  background-color: rgba(65, 212, 75, 0.62);
  cursor: pointer;
}

.mapTable {
  position:absolute;
  top:10%;
  left: 7%;
  width:25%;
  height: 4%;
  z-index: 1;
  background-color: rgba(0,0,0, 0.70);
  border-radius: 0px;
}

tbody.mapTableBody {
  max-height: 200px;
  overflow-y:scroll;
}

.mapDocs {
  position:absolute;
  top:7%;
  left: 77%;
  width:20%;
  height: 4%;
  z-index: 0;
  background-color: rgba(0,0,0, 0.0);
  border-radius: 0px;

}

.form-inputs {
  background-color: rgba(143, 144, 141, 0.49);
  border-color:#7a7c78;
  color: white;
}

.autocomplete input{
  font-size: 1.2em;
  width: 100%;
  padding:0.4em;
  background-color: rgba(143, 144, 141, 0.49);
  border-color:#7a7c78;
  color: white;
  border-radius: 5px;
}

.autocomplete ul{
  background-color: rgba(143, 144, 141, 0.80);
  border-color:#7a7c78;
}
.autocomplete li{
  background-color: rgba(143, 144, 141, 0.80);
  border-color:#7a7c78;
  width: 100%;
}

.autocomplete .highlight {
  background-color: rgba(239,255,6, 0.50);
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}


table {
  /*background-color: rgba(255, 253, 231, 0.3);*/
  border-radius: 25px;
  padding: 25px 50px;
}

table tbody tr{
   -webkit-transition: all  0.3s ease-out; /* For Safari 3.1 to 6.0 */
   -moz-transition: all 0.3s ease-out;
   -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    border-color: #13587C;
}

.tableview:hover{
  /*background-color: rgba(71, 138, 239, 0.5);
  color: white;*/
  font-style: "Courier New", Courier, monospace;
  -webkit-transform: scale(1.025);
  -webkit-transform: scale(1.025);
  /*background-color: rgba(196, 199, 194, 0.48);*/
};

.tableedit{
  border-color: #41d252;
}

.projectname {
  -webkit-transition: all  2s ease-out; /* For Safari 3.1 to 6.0 */
  -moz-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
   transition: all 2s ease-out;
}

.projectname:hover {
  /*-webkit-transform: scale(1.3);*/
  text-shadow: 12px 5px 14px #3B89FF;
}
 .css-form input.ng-invalid.ng-dirty {
    /*background-color: #FA787E;*/
    border-color: #E80000;
  }

  .css-form input.ng-valid.ng-dirty {
    /*background-color: #78FA89;*/
    border-color: #78FA89;
  }

  /*.css-form input.ng-valid.ng-pristine {
    border-color: #78FA89;
  }*/

  .css-form select.ng-invalid.ng-dirty {
    /*background-color: #FA787E;*/
    border-color: #E80000;
  }

   .css-form select.ng-valid.ng-dirty {
    /*background-color: #78FA89;*/
    border-color: #78FA89;
  }

.water {
  color: #3777d6;
}

.sewer {
  color: #2fae22;
}

.reuse {
  color: #8b24b6;
}

.storm {
  color: #848484;
}

.delete {
  -webkit-transition: all  1s ease-out; /* For Safari 3.1 to 6.0 */
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
   transition: all 1s ease-out;
  color: #a3989a;
}

.delete:hover {
  color: #b80e28;
  font-size: 16;
  font-weight: bold;
  text-shadow: 12px 5px 14px #b80e28;
  cursor:pointer;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip{
  background: rgb(84, 79, 73);
}

.asbuilts {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url(../images/ab.png) no-repeat;
  width: 180px; /* Width of new image */
  height: 236px; /* Height of new image */
  padding-left: 180px; /* Equal to width of new image */
}


.panel-default > .panel-heading {
  color: #FCFAFA;
  background-color: rgb(0,0,0);
  border-color: #E02121;
}

.panel-body {
background-color: rgba(0,0,0, 0.7);
}

.modal-content {
position: relative;
background-color: rgba(0,0,0, 0.70);
box-shadow: 0 5px 15px rgba(184, 183, 247, 0.5);
}

.fullview:hover{
  color: rgba(0,100,225,1);
}

.leaflet-control-layers-toggle {
  background-color: rgba(0,0,0, 0.90);
  top:6%;
  z-index: 2000;
}
.leaflet-control-layers-list {
  z-index: 1000;
  background-color: rgba(70, 67, 67, 0.73);
  color: white;
}

.mapPrint{
  background-color: rgba(0,0,0, 0.90);
  border-color: rgba(0,0,0, 0.90);
}


  /*background-color: rgba(0,0,0, 0.70);
  border-color: rgba(0,0,0, 0.50);;
}*/

.leaflet-right .leaflet-control {
  background-color: rgba(70, 67, 67, 0.73);
}
